* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

     /* ----------------BODY------------------- */

body {
    min-width: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}
/* ---------- COMIENZO DEL DISEÑO DE HEADER------------------------------------------ */
/* header {
    /* width: 100%; 
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);}

.container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 260px;
}

.nav-navegacion {
    display: flex;
    justify-content: space-around;
}

.items-link {
    margin: 15px;
    text-decoration: none;
}   */

   /* ---------- FIN DEL DISEÑO DE HEADER--------------------------------------- */

 /* -------------COMIENZO DEL DISEÑO DE MAIN----------------------- */

 .container-main {
    display: flex;
    justify-content: center;
    text-align: center;
    border-style: groove;
    /* background-color: rgb(204, 167, 236); */
    border-color: black;
    border-width: 5px;
    height: 650px;
}
   
.saludo {
    padding-top: 70px;
    font-weight: bold;
    font-size: 1.3rem;
}
 .titulo {
     /* background-color: rgb(204, 167, 236); */
     margin:15px;
     }
            
 .nombre {
    font-family: 'Amaranth', sans-serif;
    color: blue;
     /* padding-top:10px; */
      font-size: 2.813rem;

  }

.breve-descripcion {
margin:15px; 
color: rgb(54, 54, 54);
font-size: 0.813rem;
}


.btn-primero {
        border-radius: 100px;
        margin: 15px;
        padding: 7px 30px;
        background-color: #5d5dea;
        color: white;
        bottom: auto;
        border-style: none;
}
