* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);}
.container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 260px;
}

.nav-navegacion {
    display: flex;
    justify-content: space-around;
}

.items-link {
    margin: 15px;
    text-decoration: none;
} 